<form action="/square/results" method="get">
 <div> <label for="square">Enter a number</label> </div>
 <div> <input id="square" name="number" type="text" placeholder="What number do you want to square?"/></div>
 <div><button>Calculate square</button></div>
</form>
