<form action="/square_root/results" method="get">
 <div> <label for="square_root">Enter a number</label> </div>
 <div> <input id="square_root" name="number" type="text" placeholder="What number do you want to take square root of?"/></div>
 <div><button>Calculate square root</button></div>
</form>
